@use '../globals/global.scss';


footer{
    width: 100%;
    align-items: center;
    background-color: global.$baseColor;
    color: white;
    height: 100px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
    bottom: 0;
    position: absolute;
}

.logoFootBox{
    text-align: center;
    grid-column: 1;

}
.contactPhoneFootBox{
    text-align: center;
    grid-column: 2;

}
.footerSocialIconsBox{
    text-align: center;
    grid-row: 1;
    grid-column: 3;
}